body {
margin: 0;
padding-top: 50px;
background-color: #000;
font-family: 'Courier';
color: #FFF;
font-size: 12pt;
line-height: 10pt;
display: flex;
justify-content: center;
}

.container {
}

#instruction {
    position: absolute;
    /* right: 100px; */
    bottom: 20px;
    font-size: 11px;
}

canvas {
    display: block;
    /* margin: 0 */
}

#space {
/*   display: none; */
}

button {
    position:absolute;
    right: 20%;
}