* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#site-header {
    color: black;
    text-decoration: inherit;
}
a {
    color: rgb(234, 94, 255);
    text-decoration: inherit;
    /* border-bottom: 1px solid rgb(234, 94, 255); */
}

b { font-weight: 600;}

body {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 50px;
    font-size: 15px;
    position: relative;
}

p {
    line-height: 150%;
}

.socials {
    position: absolute;
    right: 10px;
    top: 10px;
}

.socials a {
    border-bottom: none;
    color: black;
    z-index: 2;
}

.content {
    margin-top: 50px;
    display: flex;
    /* max-width: 700px; */
}

.text-container {
    width: 520px;
}

.img-container {
    margin-left: 50px;
    /* position: absolute;
    bottom: 100px;
    right: 0; */
}

img.small {
    width: 300px;
    max-width: 340px;
    /* outline: solid black 2px; */
}

.art-container a {
    border-bottom: none;
}

.art-container img{
    width: 400px;
    margin-left: 50px;
}

.iframe-container {
    /* width: 400px; */
    /* height: 128px; */
}

/* music */
.video-caption {
    padding: 0 20px;
}

/* blog */
.blogpost-info {
    color: rgb(108, 108, 108)
}

img.blog-img {
    width: 500px;
}

.footnotes {
    font-size: 14px;
}

a.footnote-link {
    /* color: rgb(108, 108, 108) */
}


@media only screen and (max-width: 950px) {
    body {
      max-width: 90%;
      margin-top: 30px;
      position: inherit;
      height: inherit;
    }

    .socials {
        right: 5.5%;
        top: 5.5%;
    }
    
    .socials a {
    }

    .content {
        margin-top: 30px;
        display: block;
    }
    .text-container {
        width: 100%;
    }

    .img-container {
        margin-left: inherit;
        display: flex;
        justify-content: center;
    }

    img.small {
        /* max-width: 95%; */
        width: inherit;
        margin: auto;
        padding: 10px 0;
    }

    .art-container img{
        max-width: 330px;
        margin: 0 auto;
    }

    iframe {
        width: 330px;
        height: 215px;
    }

    /* music */
    .video-caption {
        padding: 0 0 10px 0;
        font-size: 13px;
    }
  }