* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#site-header {
    color: black;
    text-decoration: inherit;
}
a {
    color: rgb(234, 94, 255);
    text-decoration: inherit;
    /* border-bottom: 1px solid rgb(234, 94, 255); */
}

b { font-weight: 600;}

body {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 50px;
    font-size: 15px;
    position: relative;
}

p {
    line-height: 150%;
}

.socials {
    position: absolute;
    right: 10px;
    top: 10px;
}

.socials a {
    border-bottom: none;
    color: black;
    z-index: 2;
}

.content {
    margin-top: 50px;
    display: flex;
    /* max-width: 700px; */
}

.text-container {
    width: 520px;
}

.img-container {
    margin-left: 50px;
    /* position: absolute;
    bottom: 100px;
    right: 0; */
}

img.small {
    width: 300px;
    max-width: 340px;
    /* outline: solid black 2px; */
}

.art-container a {
    border-bottom: none;
}

.art-container img{
    width: 400px;
    margin-left: 50px;
}

/* Stretch Marks */
#stretch-marks-body {
    background-color: rgb(215, 215, 215);
}
.instruction-text {
    padding-top: 50px;
    color: rgb(185, 185, 185);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: rgb(146, 146, 146);
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    /* padding: 18px; */
    margin-top: 100px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /* background-color: red; */
  }



/* music */
.video-caption {
    padding: 0 20px;
    font-size: 14px;
}

/* blog */
.blogpost-info {
    color: rgb(108, 108, 108)
}

/* p5.js */
.p5 {
    padding-top: 100px;
}

img.blog-img {
    width: 500px;
}

.footnotes {
    font-size: 14px;
}

a.footnote-link {
    /* color: rgb(108, 108, 108) */
}


@media only screen and (max-width: 950px) {
    body {
      max-width: 90%;
      margin-top: 30px;
      position: inherit;
      height: inherit;
    }

    .socials {
        right: 5.5%;
        top: 5.5%;
    }
    
    .socials a {
    }

    .content {
        margin-top: 30px;
        display: block;
    }
    .text-container {
        width: 100%;
    }

    .img-container {
        margin-left: inherit;
        display: flex;
        justify-content: center;
    }

    img.small {
        /* max-width: 95%; */
        width: inherit;
        margin: auto;
        padding: 10px 0;
    }

    .art-container img{
        max-width: 330px;
        margin: 0 auto;
    }

    iframe {
        width: 330px;
        height: 215px;
    }

    /* music */
    .video-caption {
        padding: 0 0 10px 0;
        font-size: 13px;
    }
  }